fastapi
uvicorn
python-multipart

pymupdf
pypdf
pdfplumber

pytesseract
pillow

sentence-transformers
transformers
torch

qdrant-client

langchain
langchain-community

numpy
pandas
scikit-learn

FlagEmbedding

streamlit

python-dotenv

tqdm

rank-bm25

unstructured

opencv-python

aiofiles
httpx
